@import "./variables";
@import "./mixin";
@import "./reset";
@import "./blocks/cart";

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: $dark-blue;
}

.header__wrapper {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: none;
  position: absolute;
  top: 75px;
  right: 0px;
  width: 232px;
  height: 764px;
  background-color: $white;
  padding: 35px;
  box-sizing: border-box;
}

.header__navigation li {
  margin-top: 12px;
}

.navigation-item__sub-list {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: $dark-gray;
  margin-top: 12px;
}

.header__navigation-title {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}

.navigation-item__link {
  padding-top: 24px;
  font-size: 14px;
  line-height: 17px;
  color: v$dark-pink;
}

.header__button:hover ~ .header__navigation {
  display: block;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__link {
  margin: 0 0 0 34px;
}

.promo {
  display: flex;
  margin: 0 0 63px;
  background-color: $pink;
}
.promo__img {
  margin-left: 100px;
}
.promo__heading-wrapper {
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 0 0 0 92px;
}

.promo__heading {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.promo__sub-heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.promo__sub-heading-pink {
  color: $dark-pink;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 96px;
}

.categories__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  min-height: 260px;
}

.categories__text {
  font-size: 12px;
  color: white;
  text-align: center;
}

.categories__heading {
  color: $dark-pink;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.categories__item--woman {
  background-image: url(../img/section1_1.jpg);
}

.categories__item--man {
  background-image: url(../img/section1_2.jpg);
}
.categories__item--kids {
  background-image: url(../img/section1_3.jpg);
}
.categories__item--accessories {
  margin-top: 30px;
  width: 100%;
  min-height: 180px;
  background-image: url(../img/section2.jpg);
}

.products__heading {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: $dark-blue;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 48px auto;
}

.products__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  width: 360px;
  background-color: $gray;
  box-sizing: border-box;
}

.products__item-heading {
  margin: 24px 0 0 18px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
}

.products__item-text {
  margin: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.products__item-price {
  margin: 0 0 20px 18px;
  color: $dark-pink;
}

.products__item-butto {
  display: none;
  position: absolute;
  left: 110px;
  top: 180px;
  width: 138px;
  height: 43px;
  border: 1px solid $white;
  background: none;
  color: $white;
  background: url(../img/Vector.svg) no-repeat;
  background-position: center left;
  opacity: 0.7;
}

.products__item:hover .products__item-butto {
  display: block;
  justify-content: flex-start;
}

.options {
  display: flex;
  align-items: center;
  min-height: 340px;
  background: $dark-blue;
}

.options-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 104px;
}

.options__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}

.options__item-heading {
  margin: 28px 0 16px 0;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.options__item-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: $gray;
  text-align: center;
}

.footer__top {
  min-height: 448px;
  padding-top: 86px;
  box-sizing: border-box;
  background: url(../img/footerBg.jpg) no-repeat;
  background-size: cover;
}

.flexer {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
}

.footer__quots-text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $dark-blue;
}

.footer__item-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.footer__item-subheading {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.footer__bottom {
  display: flex;
  align-items: center;
  background: $dark-blue;
  height: 80px;
}

.footer__botom-text {
  font-size: 16px;
  line-height: 19px;
  color: $gray;
}

.products__button {
  display: block;
  margin: 0 auto 96px;
  width: 211px;
  height: 47px;
  color: $white;
  background-color: $dark-pink;
  border: 1px solid $red;
}

.footer__form {
  display: block;
  position: relative;
  margin-top: 32px;
}

.footer__form-input {
  width: 320px;
  height: 50px;
  background-color: $gray;
  border-radius: 50px;
  box-sizing: border-box;
}

.footer__form-button {
  position: absolute;
  right: 0;
  border-radius: 0 50px 50px 0;
  width: 85px;
  height: 50px;
  color: $white;
  background-color: $dark-pink;
  font-size: 14px;
  line-height: 17px;
}

.footer__form-button:hover {
  background-color: $pink;
}

/* registration page */

.page__heading {
  height: 150px;
  background: $pink;
  color: $dark-pink;
}

.page__heading-header {
  font-size: 24px;
  line-height: 150px;
}

.form__container {
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}

.form__container_left {
  display: flex;
  flex-direction: column;
  margin-right: 130px;
  max-width: 360px;
  color: $dark-gray;
}

.form__container_left-input {
  margin-top: 20px;
  height: 45px;
  border-color: $gray;
}

.form__container_left label {
  font-size: 16px;
  line-height: 19px;
}

.radiogroup {
  display: flex;
  margin: 30px 0;
}

.radiogroup input {
  margin-right: 20px;
}

.form__container_left-text {
  margin: 15px 0 40px;
  font-size: 13px;
  line-height: 16px;
}

.form__container_left-button {
  width: 170px;
  height: 50px;
  background-color: $dark-pink;
  color: $white;
  border: none;
}

.form__container_right {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.form__container_right-heading {
  font-size: 24px;
  line-height: 29px;
}

.form__container_right-text {
  margin: 22px 0;
}

.form__container_right li {
  margin-bottom: 16px;
  padding-left: 43px;
  background: url(../img/ok.png) no-repeat;
  background-position: left;
}
