.product__banner {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: $gray;
  @include border-top();
  @include border-bottom();

  img {
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}

.product__banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  border-right: 5px solid $dark-gray;
  border-bottom: 5px solid $dark-gray;
  width: 25px;
  height: 25px;
  transform: translate(50%, -50%) rotate(135deg);
}

.product__banner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  border-left: 5px solid $dark-gray;
  border-top: 5px solid $dark-gray;
  width: 25px;
  height: 25px;
  float: right;
  transform: translate(-50%, -50%) rotate(135deg);
}

.product__add {
  @include border();
  position: relative;
  top: -64px;
  text-align: center;
  padding: 64px;
  box-sizing: border-box;
  background-color: white;
  font-weight: 300;
  color: $dark-gray;

  @media (max-width: $tablet) {
    position: static;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product__add_heading {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
    color: $dark-pink;
    text-transform: uppercase;
  }

  .product__add_pink-line {
    margin-bottom: 12px;
    width: 63px;
    height: 3px;
    background: $dark-pink;
  }

  .product__add_subheading {
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 32px;
    max-width: 555px;
    font-size: 14px;
    line-height: 17px;
  }

  .product__add_price {
    font-size: 24px;
    line-height: 29px;
    color: $dark-pink;
  }

  .product_add_gray-line {
    margin: 65px 250px;
    width: 100%;
    height: 1px;
    background-color: $dark-gray;
    @media (max-width: $tablet) {
      margin: 65px;
    }
  }

  .product__add_choose {
    display: flex;
    justify-content: center;
    margin-right: 22px;
    margin-bottom: 48px;

    @media (max-width: $tablet) {
      width: 100%;
      justify-content: space-between;
    }
    .product__add_choose-item {
      text-transform: uppercase;
      margin-right: 20px;

      @media (max-width: $tablet) {
        margin-right: 0px;
        font-size: 10px;
        line-height: 12px;
      }
    }

    .product__add_choose-item:after {
      content: "  \142F";
      font-size: 8px;
    }
  }

  button {
    padding: 14px 70px 14px 0;
    color: $dark-pink;
    background-color: white;
    border: 1px solid $dark-pink;
  }

  button:before {
    content: url(../../img/bascket.svg);
    color: black;
    padding: 0 22px;
  }
}

.product__list {
  .products__list {
    @media (min-width: $mobile) {
      overflow: auto;
      flex-wrap: nowrap;
    }
    .products__item {
      @media (min-width: $mobile) {
        margin-right: 30px;
      }
    }
  }
}
